.utility-text-center {
    text-align: center;
}
  
.utility-margin-bottom-small {
    margin-bottom: 0.5rem;
}

.utility-margin-bottom-medium {
    margin-bottom: 1.5rem;
}

.utility-margin-bottom-big {
    margin-bottom: 3rem;
}